.header {
	background-color: var(--blue-700);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin-bottom: 24px;
	.header__nav {
		place-self: center;
	}
	.header__links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;
	}
}
@media (min-width: 768px) {
	.header {
		margin-inline: 24px;
		padding-block: 27px;
		padding-inline: 24px;
		border-radius: 10px;
		.header__user {
			width: 32px;
			height: 32px;
		}
	}
}
@media (min-width: 1240px) {
	.header {
		flex-direction: column;
		justify-content: start;
		margin-bottom: 0;
		margin-left: 32px;
		margin-right: 0;
		border-radius: 20px;
		width: 96px;
		grid-template-columns: auto;
		grid-template-rows: 60px 2fr 60px;
		gap: 36px;
		padding-block: 32px;
		.header__nav {
			margin-top: 74px;
			flex: 1;
		}
		.header__links {
			flex-direction: column;
			gap: 40px;
		}
		.header__img {
		
			width: 32px;
			height: 25.5px;
		}
		.header__user {
			width: 40px;
			height: 40px;
		}
	}
}
