.trending {
	.trending__heading {
		margin-bottom: 1rem;
		margin-inline: 1rem;
	}
	.trending__wrapper {
		display: grid;
		gap: 1rem;
		padding-inline: 1rem;
		grid-auto-flow: column;
		grid-auto-columns: minmax(70%, 470px);
		overflow-x: auto;
		overscroll-behavior-inline: contain;
		scroll-snap-type: inline mandatory;
		scroll-padding-inline: 1rem;
		scroll-snap-align: start;

		.trending__item {
			border-radius: 8px;
			display: grid;
			grid-template-rows: min-content;
			gap: 46px;
		}
		.trending__item button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			border: none;
			margin: 8px;
			place-self: end;
			background-color: var(--blue-400);
			padding: 0.5rem;
			border-radius: 50%;
		}
		.trending__content {
			position: relative;
			padding: 1rem;
			background: linear-gradient(to bottom, #0000 0%, rgba(0, 0, 0, 0.7) 100%);
		}
		.trending__subheading {
			opacity: 0.7;
		}
	}
	.trending__wrapper::-webkit-scrollbar {
		height: 8px; /* Adjust the height of the scrollbar */
	}

	@media (min-width: 768px) {
		.trending__wrapper {
			padding-inline: 25px;
			gap: 2rem;
			grid-auto-columns: minmax(65%, 470px);

			.trending__item {
				gap: 106px;
			}

			.trending__item button {
				margin-inline: 24px;
				margin-block: 1rem;
			}
		}
	}
	@media (min-width: 1240px) {
		.trending__heading {
			margin-inline: 0;
		}
		.trending__wrapper {
			grid-auto-columns: minmax(60%, 470px);
			padding-inline: 0;

			.trending__content {
				padding: 24px;
			}
			.trending__item {
				gap: 182px;
			}
		}
	}
}
