.trending {
	.trending__heading {
		margin-bottom: 1rem;
		margin-inline: 1rem;
	}
	.trending__wrapper {
		display: grid;
		gap: 1rem;
		padding-inline: 1rem;
		grid-auto-flow: column;
		grid-auto-columns: minmax(45%, 1fr);
		overflow-x: auto;
		overscroll-behavior-inline: contain;
		scroll-snap-type: inline mandatory;
		scroll-padding-inline: 1rem;
		scroll-snap-align: start;

		.trending__item {
			display: grid;
			grid-template-rows: min-content;
			gap: 1rem;
			padding: 1rem;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
        .trending__item button {
            place-self: end;
        }

		@media (min-width: 1240px) {
			padding-inline: 0;
		}
	}
}
